<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279141945006-lbf2nk5o50gvfc4rt38oc1vspmfq4pvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279141945006-lbf2nk5o50gvfc4rt38oc1vspmfq4pvm</string>
	<key>API_KEY</key>
	<string>AIzaSyDM7DI-sVIdFysx2RQMJefhvDhnyAdBycw</string>
	<key>GCM_SENDER_ID</key>
	<string>279141945006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokedex</string>
	<key>PROJECT_ID</key>
	<string>custom-pokedex-31072001</string>
	<key>STORAGE_BUCKET</key>
	<string>custom-pokedex-31072001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279141945006:ios:4258dead1006eef3f8673f</string>
</dict>
</plist>